/**
 * @name VisualRefreshFix
 * @author @sifsen
 * @version 1.0.0
 * @description Minor fixes for the Visual Refresh
**/

/* Hide stuff */
button[aria-label="Send a gift"],
button[aria-label="Open sticker picker"],
div[aria-label^="Click to react with"],
.separator_f84418,
div[class^=channelAppLauncher_],
.reactionSuggestion_d1c246,
.app-launcher-entrypoint,
.vc-uvs-message-indicator {
  display: none;
}


/* Fix user panel symetry */
section.panels_c48ade {
  justify-content: center;
  margin-left: 74px;
  width: calc(100% - 90px) !important;
  bottom: 0;
  border-radius: 0;
}

.visual-refresh .container__37e49 {
  padding: 6px;
}

/* Lower chat field + put typing indicators on top */
main[class^="chatContent"]>form[class^="form"] {
  display: flex;
  flex-direction: column-reverse;
}

main[class^="chatContent"]>form[class^="form"]:not(:has(div[class^="typing"])) {
  margin-top: calc(7px + (var(--space-xs) * 2)) !important;
}

main[class^="chatContent"]>form[class^="form"] div[class^="channelTextArea"] {
  margin-bottom: calc(-8px + (var(--space-xs) * 2)) !important;

}

div[class^="typing"] {
  position: static !important;
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

div[class^="messagesWrapper"] div[class^="scrollerSpacer"] {
  display: none !important;
}

/* Hide pinned guild discover button */
div[class^="footer_"]:has(div[data-list-item-id="guildsnav___guild-discover-button"]) {
  display: none;
}

div[class*=unreadMentionsFixedFooter_] {
  bottom: 0;
}

/* Re-add 'Today at' to timestamps */
h3>span>time[aria-label^="Today at"]::before {
  content: "Today at ";
}

.visual-refresh {

  /* Fix titlebar */
  div.subtitleContainer_f75fb0,
  main.container__133bf section.container__9293f {
    width: calc(100% - 172px);
  }

  div.page_c48ade {
    &:not(:has(> div.chat_f75fb0)) {
      anchor-name: --vr-header-snippet;
    }

    &>div.chat_f75fb0 {
      anchor-name: --vr-header-snippet;
    }
  }

  div.base_c48ade {
    grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [end];

    &:has(div.bar_c38106 > div.trailing_c38106 > *:nth-child(3)) {

      & div.subtitleContainer_f75fb0,
      & main.container__133bf section.container__9293f {
        width: calc(100% - 174px);
      }
    }

    &>div.bar_c38106 {
      position: absolute;
      position-anchor: --vr-header-snippet;
      top: 0;
      right: anchor(right);
      width: anchor-size(width);
      padding: 0;
    }

    & div.trailing_c38106 {
      background: var(--background-base-lower);
      border: none;
      border-bottom: 1px solid var(--border-subtle);
      height: var(--custom-channel-header-height);
    }
  }

  :not(:has(div.page_c48ade > div.chat_f75fb0)) div.base_c48ade>div.bar_c38106 {
    right: 0 !important;
  }

  ul[data-list-id="guildsnav"]>div.itemsContainer_ef3116 {
    margin-top: 16px;
  }

  div.topic__6ec1a {
    -webkit-app-region: no-drag;
  }

  /* Context Menu Padding*/
  .labelContainer_c1e9c4,
  .scroller_c1e9c4 {
    padding: 6px;
  }

  .wrapper_f563df {
    padding: 4px 2px;
  }

  .separator_c1e9c4 {
    margin: 2px;
  }

  /* Channel List Padding */
  .containerDefault_c69b6d>div>div>a {
    padding: 2px 6px;
  }

  /* Window Topbar Size */
  .bar_c38106 {
    padding-right: 8px;
  }

  * {
    --custom-app-top-bar-height: 28px;
  }

  .leading_c38106,
  .trailing_c38106 {
    gap: 2px;
  }

  /* New Member Badge Color */
  .newMemberBadge_f80704 {
    --text-positive: #4cc06c;
  }

  /* Channel Name Offset*/
  .container__9293f {
    padding-left: 10px;
  }
}
